@model BlogCore.Models.Viewmodels.ArticuloVM

@{
    ViewData["Title"] = "Editar articulo";
}

<br />
<br />
<h3 class="text-center">Editar articulo</h3>
<form method="POST" asp-action="Edit" enctype="multipart/form-data">

    <!--Se envía el ID-->
    <input type="hidden" asp-for="Articulo.Id"/>

    <div class="row px-4 py-3 border rounded">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="col-8 mt-4">
            <div class="form-group row mb-3">
                <div class="col-4">
                    <label asp-for="Articulo.Nombre"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Articulo.Nombre" class="form-control" placeholder="Ingresa el nombre" />
                    <span asp-validation-for="Articulo.Nombre" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row mb-3">
                <div class="col-4">
                    <label asp-for="Articulo.Descripcion"></label>
                </div>
                <div class="col-8">
                    <textarea asp-for="Articulo.Descripcion" class="form-control" style="height: 300px;"></textarea>
                    <span asp-validation-for="Articulo.Descripcion" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row mb-3">
                <div class="col-4">
                    <label for="Categoría">Categoría</label>
                </div>
                <div class="col-8">
                    @Html.DropDownListFor(m => m.Articulo.CategoriaId, Model.ListaCategorias,
                             "-Por favor, seleccione una categoría", new { @class = "form-control" })
                    <span asp-validation-for="Articulo.CategoriaId" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row mb-3">
                <div class="col-4">
                    <label asp-for="Articulo.urlImagen"></label>
                </div>
                <div class="col-8">
                    <input type="file" name="archivos" id="subidaArchivo" class="form-control" />
                    <span asp-validation-for="Articulo.urlImagen" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row mb-3">
                <div class="col-4"></div>
                <div class="col-8 d-flex justify-content-center gap-3 mt-3">
                    <button type="submit" class="btn btn-primary px-4 py-2">Editar</button>
                    <a asp-action="Index" class="btn btn-success px-4 py-2">Volver atrás</a>
                </div>
            </div>
        </div>

        <div class="col-4 pt-3 d-flex justify-content-center align-items-center">
            <img src="@Model.Articulo.urlImagen" width="300px" style="border-radius: 5px; border: 1px solid #bbb9b9; max-width: 100%;" />
        </div>
    </div>
</form>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/7.5.0/tinymce.min.js" integrity="sha512-KmEMNDKX2KDYPrBMr2MJj/JLgYK271k+P2341E5wvBMgepz1HS3wpc7r65hDXcp4Ul89omtSKIHxdk8VYHd9ug==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: 'lists',
            menubar: 'file edit format'
        });
    </script>
}
