@model BlogCore.Models.Viewmodels.HomeVM
@{
    ViewData["Title"] = "Home";
}

<div class="row mt-1">
    <div class="col-sn-12">
        <h1 class="text-center text-dark py-1">Últimas noticias</h1>
    </div>
</div>

@if (Model.ListaArticulos.Count() > 0)
{
    <hr />
    <div class="row">
        @foreach (var articulo in Model.ListaArticulos.OrderBy(o => o.Id))
        {
            <div class="col-12 col-sm-6 col-md-4 mb-3 d-flex justify-content-center">
                <div class="glowing-card">
                    <!-- Imagen -->
                    <img src="@articulo.urlImagen"
                         alt="@articulo.Nombre"
                         class="img-fluid"
                         />

                    <!-- Contenido -->
                    <div class="card-body d-flex flex-column">
                        <h5>@articulo.Nombre</h5>
                        <div class="d-flex justify-content-center mt-auto">
                            <a asp-action="Detalle" class="btn btn-success" style="border-radius: 10px" asp-route-id="@articulo.Id">
                                Más información
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
}
else
{
    <p>Sin artículos disponibles</p>
}


