@{
    ViewData["Title"] = "Política de Privacidad";
}

<header class="text-center mt-5">
    <h1 class="display-4 text-primary">@ViewData["Title"]</h1>
    <hr />
</header>

<div class="container">
    <p class="text-muted text-center">
        Esta política de privacidad describe cómo recopilamos, usamos y protegemos la información personal de nuestros usuarios. Al acceder o utilizar nuestro sitio web, aceptas las prácticas descritas en esta política.
    </p>

    <h3 class="mt-4">1. Información que Recopilamos</h3>
    <p>
        Recopilamos información personal que proporcionas voluntariamente al registrarte en nuestro sitio, como tu nombre, dirección de correo electrónico y otra información relevante. También podemos recopilar información de navegación como la dirección IP, tipo de navegador, y las páginas que visitas.
    </p>

    <h3 class="mt-4">2. Uso de la Información</h3>
    <p>
        La información que recopilamos se utiliza para mejorar nuestros servicios, personalizar tu experiencia y proporcionarte contenido y publicidad que creemos que te puede interesar. También usamos esta información para comunicarnos contigo sobre actualizaciones, ofertas y otros servicios.
    </p>

    <h3 class="mt-4">3. Protección de la Información</h3>
    <p>
        Tomamos medidas razonables para proteger tu información personal contra acceso no autorizado, alteración o destrucción. Sin embargo, ningún sistema de seguridad es completamente infalible, por lo que no podemos garantizar la seguridad absoluta de tu información.
    </p>

    <h3 class="mt-4">4. Compartir Información</h3>
    <p>
        No vendemos ni alquilamos tu información personal a terceros. Podemos compartir tu información con proveedores de servicios que nos ayudan a operar el sitio o brindarte servicios, pero solo en la medida necesaria para cumplir con su función. También podemos compartir información si es requerido por la ley.
    </p>

    <h3 class="mt-4">5. Tus Derechos</h3>
    <p>
        Tienes derecho a acceder, corregir o eliminar tu información personal en cualquier momento. Si deseas hacerlo, por favor, contacta con nosotros a través de la información proporcionada en la sección de contacto.
    </p>

    <h3 class="mt-4">6. Cambios en esta Política</h3>
    <p>
        Nos reservamos el derecho de actualizar esta política de privacidad en cualquier momento. Cualquier cambio será publicado en esta página, y la fecha de la última actualización se reflejará en la parte superior de la política.
    </p>

    <h3 class="mt-4">7. Contacto</h3>
    <p>
        Si tienes preguntas sobre esta política de privacidad o nuestras prácticas, no dudes en ponerte en contacto con nosotros a través de los canales disponibles en nuestro sitio web.
    </p>
</div>
