@page
@model EmailModel
@{
    ViewData["Title"] = "Gestionar correo electrónico";
    ViewData["ActivePage"] = ManageNavPages.Email;
}

<div class="container my-4">
    <h3 class="text-center mb-4">@ViewData["Title"]</h3>

    <partial name="_StatusMessage" for="StatusMessage" />

    <div class="row justify-content-center">
        <div class="col-md-6">
            <form id="email-form" method="post">
                <div asp-validation-summary="All" class="text-danger mb-3" role="alert"></div>

                <!-- Correo electrónico confirmado -->
                @if (Model.IsEmailConfirmed)
                {
                    <div class="form-floating mb-3 input-group">
                        <input asp-for="Email" class="form-control" placeholder="Por favor, ingresa tu correo electrónico." disabled />
                        <div class="input-group-append">
                            <span class="h-100 input-group-text text-success font-weight-bold">✓</span>
                        </div>
                        <label asp-for="Email" class="form-label">Correo electrónico</label>
                    </div>
                }
                else
                {
                    <div class="form-floating mb-3">
                        <input asp-for="Email" class="form-control" placeholder="Por favor, ingresa tu correo electrónico." disabled />
                        <label asp-for="Email" class="form-label">Correo electrónico</label>
                        <button id="email-verification" type="submit" asp-page-handler="SendVerificationEmail" class="btn btn-link mt-2">Enviar correo de verificación</button>
                    </div>
                }

                <!-- Nuevo correo electrónico -->
                <div class="form-floating mb-3">
                    <input asp-for="Input.NewEmail" class="form-control" autocomplete="email" aria-required="true" placeholder="Por favor, ingresa tu nuevo correo electrónico." /> 
                    <label asp-for="Input.NewEmail" class="form-label">Nuevo correo electrónico</label>
                    <span asp-validation-for="Input.NewEmail" class="text-danger"></span>
                </div>

                <!-- Botón para cambiar el correo electrónico con tamaño moderado -->
                <button id="change-email-button" type="submit" asp-page-handler="ChangeEmail" class="w-100 btn btn-primary">Cambiar correo electrónico</button>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
