@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Acceso denegado";
}

<header class="text-center mt-5">
    <h1 class="text-danger display-4">@ViewData["Title"]</h1>
    <p class="text-warning lead">No tienes acceso a este recurso. Por favor, contacta con el administrador si crees que esto es un error.</p>
    <a href="/" class="btn btn-primary mt-3">Volver al inicio</a>
</header>
