@page
@model ExternalLoginModel
@{
    ViewData["Title"] = "Registrar cuenta";
}

<header class="text-center mt-5">
    <h1 class="display-4 text-info">@ViewData["Title"]</h1>
    <h2 id="external-login-title" class="text-muted">Asocia tu cuenta de @Model.ProviderDisplayName.</h2>
    <hr />
    <p id="external-login-description" class="text-info">
        Te has autenticado exitosamente con <strong>@Model.ProviderDisplayName</strong>.
        Ingresa una dirección de correo electrónico para este sitio a continuación y haz clic en el botón de Registrar para completar el inicio de sesión.
    </p>
</header>

<div class="row justify-content-center">
    <div class="col-md-6">
        <form asp-page-handler="Confirmation" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="email" placeholder="Ingresa tu correo electrónico." />
                <label asp-for="Input.Email" class="form-label">Correo Electrónico</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Registrar</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
