@page
@model LockoutModel
@{
    ViewData["Title"] = "Cuenta bloqueada";
}

<header>
    <div class="container text-center mt-5">
        <h1 class="text-danger display-4">@ViewData["Title"]</h1>
        <p class="text-muted lead">
            Esta cuenta ha sido bloqueada temporalmente. Por favor, inténtalo de nuevo más tarde.
        </p>
        <div class="mt-4">
            <a href="/" class="btn btn-primary btn-sm">Volver al inicio</a>
        </div>
    </div>
</header>
