@page
@model LoginModel

@{
    ViewData["Title"] = "Iniciar sesión";
}

<h1 class="text-center my-4">@ViewData["Title"]</h1>
<div class="row justify-content-center">
    <!-- Formulario de Login -->
    <div class="col-md-6 col-lg-4">
        <section class="card p-4 shadow-lg rounded">
            <form id="account" method="post">
                <h2 class="mb-4 text-center">Usa una cuenta para iniciar sesión.</h2>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger mb-3" role="alert"></div>

                <!-- Email -->
                <div class="form-floating mb-3">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="nombre@ejemplo.com" />
                    <label asp-for="Input.Email" class="form-label">Correo electrónico</label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>

                <!-- Contraseña -->
                <div class="form-floating mb-3">
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="contraseña" />
                    <label asp-for="Input.Password" class="form-label">Contraseña</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>

                <div class="d-grid">
                    <!-- Botón de Login con tamaño adecuado -->
                    <button id="login-submit" type="submit" class="btn btn-primary btn-lg w-100 py-3">Iniciar sesión</button>
                </div>


                <!-- Enlaces adicionales -->
                <div class="mt-3 text-center">
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">¿Olvidaste tu contraseña?</a>
                    </p>
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Regístrate como nuevo usuario</a>
                    </p>
                    <p>
                        <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Reenviar confirmación de email</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
