@page
@model LogoutModel
@{
    ViewData["Title"] = "Cerrar sesión";
}

<header class="text-center mt-5">
    <h1 class="display-4 text-danger">@ViewData["Title"]</h1>
    <hr />
    @{
        if (User.Identity?.IsAuthenticated ?? false)
        {
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                <button type="submit" class="w-100 btn btn-lg btn-danger">Haz clic aquí para cerrar sesión</button>
            </form>
        }
        else
        {
            <p class="lead text-muted">Has cerrado sesión exitosamente de la aplicación.</p>
        }
    }
</header>
