@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Confirmación de registro";
}

<header class="text-center mt-5">
    <h1 class="display-4 text-success">@ViewData["Title"]</h1>
    <hr />
    @{
        if (@Model.DisplayConfirmAccountLink)
        {
            <p class="lead">
                Esta aplicación actualmente no tiene un servicio de correo electrónico real configurado. Consulta <a href="https://aka.ms/aspaccountconf" target="_blank" class="text-info">esta documentación</a> para saber cómo configurar un servicio de correo electrónico real.
                Normalmente, este enlace se enviaría por correo electrónico: <a id="confirm-link" href="@Model.EmailConfirmationUrl" class="btn btn-link text-primary">Haz clic aquí para confirmar tu cuenta</a>
            </p>
        }
        else
        {
            <p class="lead text-muted">
                Por favor, revisa tu correo electrónico para confirmar tu cuenta.
            </p>
        }
    }
</header>
