@page
@model ResendEmailConfirmationModel
@{
    ViewData["Title"] = "Reenviar confirmación de correo electrónico";
}

<header class="text-center mt-5">
    <h1 class="display-4 text-primary">@ViewData["Title"]</h1>
    <hr />
    <h2 class="h5 text-muted">Introduce tu correo electrónico</h2>
</header>

<div class="row">
    <div class="col-md-4 offset-md-4">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" aria-required="true" placeholder="nombre@ejemplo.com" />
                <label asp-for="Input.Email" class="form-label"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Reenviar</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
